:root {
  --default-white: #f1f1f1;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, .header__statistics {
  border-bottom: 1px solid var(--default-white);
  padding: 12px;
}

.header__statistics {
  
}

.header__options {
  
}

.content__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 4px;
  margin: 1rem 0;
}

.card {
  width: calc(50% - 32px);
  padding: 6px;
  margin: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.card__title {
  font-size: 1.5rem;
  color: rgb(10, 21, 49);
}

.card__subtitle {
  font-size: 1.1rem;
  color: rgb(10, 21, 49);
}

.card__title,
.card__subtitle {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-left: .5rem;
}

.select-container {
  display: flex;
  align-items: center;
}

.select-container > label,
.select-container > select {
  margin: 0 .33rem;
}

@media screen and (max-width: 640px) {
  header {
    flex-flow: column;
  }

  .card {
    display: block;
    width: 100%;
  }
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--default-white);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
