{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            ">1%",
            "last 4 versions"
          ]
        }
      }
    ],
    "latest",
    "@babel/react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties"
  ]
}